/* general */

    html{
        /* decoration */
        scroll-behavior: smooth;
    }

    h1{
        /* decoration */
        font-family: $h-f-family-title;
        font-size: $h-f-size-title;
    }

    h2, h3, h4{
        /* decoration */
        font-family: $h-f-family-subtitle;

    }

    p, a, span, li, ul, ol, button, input, textarea, select, label, option, optgroup, legend, fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, details, figcaption, 
    figure, footer, header, hgroup, main, menu, nav, section, summary, time, mark, audio, video, canvas, progress, meter, output, details, dialog, menuitem, summary, datalist, keygen, command, 
    embed, object, param, source, track, wbr, bdi, bdo, rp, rt, ruby, iframe, noframes, picture, svg, template, applet, basefont, big, center, font, frame, frameset, isindex, strike, tt, xmp, 
    acronym, applet, basefont, big, center, dir, font, frame, frameset, isindex, strike, tt, xmp, acronym, dir, noframes, plaintext, rb, rtc, strike, tt, xmp, acronym, applet, basefont, big, 
    center, dir, font, frame, frameset, isindex, strike, tt, xmp, acronym, dir, noframes, plaintext, rb, rtc, strike, tt, xmp, acronym, applet, basefont, big, center, dir, font, frame, 
    frameset, isindex, strike, tt, xmp, acronym, dir, noframes, plaintext, rb, rtc, strike, tt, xmp, acronym, applet, basefont, big, center, dir, font, frame, frameset, isindex, strike, 
    tt, xmp, acronym, dir, noframes, plaintext, rb, rtc, strike, tt, xmp, acronym, applet, basefont, big, center, dir, font, frame, frameset, isindex, strike, tt, xmp, acronym, dir, 
    noframes, plaintext, rb, rtc, strike, tt, xmp, acronym, applet, basefont, big, center, dir, font, frame, frameset, isindex, strike, tt, xmp, acronym, dir, noframes, plaintext, rb, 
    rtc, strike, tt, xmp, acronym, applet, basefont, big, center, dir, font, frame, frameset, isindex{
        /* decoration */
        font-family: $h-f-family-text;
        font-size: $h-f-size-text;
    }

    /* router-link */
    a {
        /* decoration */
        text-decoration: none;
        color: $h-c-black;
    }


    .hover{
        // decoration
        transform: scale(1);

        // transition
        transition: all 0.3s ease;

        &:hover{
            // decoration
            cursor: pointer;
            transform: scale(1.2);

            // transition
            transition: all 0.3s ease;
        }
    }