// Mixin

@mixin flexbox($direction:row, $aling:center, $justify:center, $gap:0){
    // display
    display: flex;
    flex-direction: $direction;
    align-items: $aling;
    justify-content: $justify;
    gap: $gap;
}

@mixin grid($columns: 1, $rows: 1, $columns-size: 1fr, $rows-size: 1fr, $gap: 0){
    // display
    display: grid;
    grid-template-columns: repeat($columns, $columns-size);
    grid-template-rows: repeat($rows, $rows-size);
    grid-gap: $gap;
    align-content: center;
    justify-content: center;
}

@mixin semicircle-footer($position, $color){
    /* size */
    width: 7.5%;
    height: 15%;

    /* position */
    position: relative;
    @if($position == 'top'){
        top: 0.2%;
        -moz-border-radius: 100px 100px 0 0;
        -webkit-border-radius: 100px 100px 0 0;
        border-radius: 100px 100px 0 0;
    } @else if($position == 'bottom'){
        -moz-border-radius: 0 0 100px 100px;
        -webkit-border-radius: 0 0 100px 100px;
        border-radius: 0 0 100px 100px;
    } 
    
    /* display */
    visibility: hidden;

    /* decoration */
    background-color: $color;

    @media screen and (max-width: 764px) {

        width: 10%;
        height: 12%;
        @if($position == 'top'){
            top: 1.7%;
        } @else if($position == 'bottom'){
            bottom: 1.9%;
        }
    }

    @media screen and (max-width: 500px) {
        width: 12%;
        height: 10%;
        @if($position == 'top'){
            top: 2.7%;
        } @else if($position == 'bottom'){
            bottom: 2.9%;
        }
    }
}

@mixin mediaLoginWidth($media, $width, $right, $height, $top){
    @media screen and (max-width: $media){
        // size
        width: $width;
        height: $height;

        // position
        right: $right;
        top: $top;
    }
}

@mixin mediaLoginHeight($media, $height, $top){
    @media screen and (max-height: $media){
        // size
        height: 50%;

        // position
        top: 25%;
    }
}

@mixin button(){
    // size
    width: auto;
    min-height: 3rem;

    // position
    position: relative;

    // display
    display: inline-flex;
    align-items: center;
    vertical-align: baseline;
    justify-content: center;

    // margin
    margin: 0;

    // decoration
    background-color: $h-c-white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: 600;
    line-height: 1.25;

    // transition
    transition: all 250ms;

    &:hover, &:focus{
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
        color: rgba(0, 0, 0, 0.65);
    }

    &:hover{
        transform: translateY(-1px);
    }

    &:active{
        background-color: #F0F0F1;
        border-color: rgba(0, 0, 0, 0.15);
        box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
        color: rgba(0, 0, 0, 0.65);
        transform: translateY(0);
    }
}